* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top,#ffffff 0%,#eaf7ff 40%,#d6f0ff 70%,#bfe8ff 100%
    );
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.gameboy {
    width: 700px;
    height: 1150px;
    background-image: url("https://i.pinimg.com/736x/6b/76/15/6b7615f29c4cab7c3e1e08a9f5164e21.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}


.batalha {
    width: 400px;
    height: 340px; 
    background-color: #9bbc0f;
    border: 4px solid #2f4f2f;
    position: absolute;
    top: 173px;
    left: 162px;
    overflow: hidden;
    box-shadow: inset 0 0 0 4px #143d14;
}


.escolher-pokemon {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 999;
}

.escolher-pokemon input {
    padding: 10px;
    border: 4px solid #2f4f2f;
    background-color: #c4d69b;
    color: #1f2f16;
    font-size: 8px;
    outline: none;
    font-family: 'Press Start 2P', cursive;
    width: 140px;
}

.escolher-pokemon button {
    padding: 10px;
    border: 4px solid #2f4f2f;
    background-color: #8bac0f;
    color: #1f2f16;
    cursor: pointer;
    font-size: 8px;
    font-family: 'Press Start 2P', cursive;
}

.escolher-pokemon button:hover {
    transform: translate(2px, 2px);
}


img {
    image-rendering: pixelated;
}


.pokemon-inimigo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 15px;
}

.pokemon-inimigo img {
    width: 120px;
    position: relative;
    top: 20px;
}


.pokemon-jogador {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 95px;
    width: 100%;
    padding: 0 15px;
}

.pokemon-jogador img {
    width: 160px;
}


.info-pokemon {
    background-color: #c4d69b;
    border: 4px solid #2f4f2f;
    width: 165px; 
    padding: 10px;
}

.info-pokemon h2 {
    font-size: 10px;
    margin-bottom: 8px;
    color: #1f2f16;
}

.info-pokemon span {
    font-size: 7px;
    color: #1f2f16;
}


.barra-hp {
    width: 100%;
    height: 12px;
    background-color: #556b2f;
    border: 2px solid #2f4f2f;
    margin-top: 8px;
}

.hp {
    width: 100%;
    height: 100%;
    background-color: #143d14;
}


.caixa-dialogo {
    width: 100%;
    height: 90px;
    background-color: #c4d69b;
    border-top: 4px solid #2f4f2f;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


#mensagem {
    font-size: 7px;
    line-height: 1.8;
    width: 50%;
    color: #1f2f16;
}


.golpes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    width: 45%;
}

.golpes button {
    padding: 6px;
    font-size: 6px;
    cursor: pointer;
    border: 3px solid #2f4f2f;
    background-color: #8bac0f;
    color: #1f2f16;
    font-family: 'Press Start 2P', cursive;
}

.golpes button:hover {
    transform: translate(2px, 2px);
}